In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df=pd.read_csv('auto.csv',names=headers)

In [3]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
##  there are many ? in dataframe 
## we need to identify all those values

Steps for working with missing data:

Identify missing data
deal with missing data
correct data format

In [5]:
## first we need to convert "?" to NaN(Not a Number)

In [6]:
df.replace('?',np.NaN,inplace=True)

In [7]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Evaluating for Missing Data

1.)isnull()
2.)notnull()

In [8]:
## number of missing values

missing_data=df.isnull().sum()
missing_data.sort_values(inplace=True,ascending=False)
missing_data.head(8)

normalized-losses    41
price                 4
stroke                4
bore                  4
peak-rpm              2
horsepower            2
num-of-doors          2
length                0
dtype: int64

How to deal with missing data?

drop data
a. drop the whole row
b. drop the whole column
replace data
a. replace it by mean
b. replace it by frequency
c. replace it based on other functions

In [9]:
# claculate the avg of the columns

In [10]:
avg_norm_loss=df['normalized-losses'].astype('float').mean(axis=0)
print('avg of normalized-losses',avg_norm_loss)
avg_bore=df['bore'].astype('float').mean(axis=0)
print('bore',avg_bore)
avg_stroke=df['stroke'].astype('float').mean(axis=0)
print('stroke',avg_stroke)
avg_horsepower=df['horsepower'].astype('float').mean(axis=0)
print('horsepower',avg_horsepower)
avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print('peak-rpm',avg_peakrpm)

avg of normalized-losses 122.0
bore 3.3297512437810957
stroke 3.2554228855721337
horsepower 104.25615763546799
peak-rpm 5125.369458128079

In [11]:
#Replace "NaN" by mean value in columns

In [12]:
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)
df["stroke"].replace(np.nan, avg_stroke, inplace = True)
df["bore"].replace(np.nan, avg_bore, inplace=True)
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

In [13]:
df['num-of-doors'].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

In [14]:
df['num-of-doors'].value_counts().idxmax()

'four'

In [15]:
df["num-of-doors"].replace(np.nan, "four", inplace=True)

In [16]:
df.dropna(subset=['price'],axis=0,inplace=True)#drop whole row with NaN in "price" column
df.reset_index(drop=True,inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Correct data format
.dtype() 

.astype()

In [17]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [18]:
## in the data set the bore and stroke column should be int or float 
## but they are identified as object suggesting it isn't completely numerical

In [19]:
df[['bore','stroke']]= df[['bore','stroke']].astype('float')
df[['normalized-losses']]= df[['normalized-losses']].astype('int')
df[['peak-rpm']]= df[['peak-rpm']].astype('float')
df[['price']]= df[['price']].astype('float')

In [20]:
df.dtypes

symboling              int64
normalized-losses      int32
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

Data Standardization

In [21]:
#transform mpg to L/100km  ##  L/km is more commonly used

In [22]:
###  THE FORMULA ##
#  L/100Km=235/mpg

In [23]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000.0,21,27,13495.0
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000.0,21,27,16500.0
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000.0,19,26,16500.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500.0,24,30,13950.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500.0,18,22,17450.0

In [24]:
# Convert mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-L/100km']=235/df['city-mpg']

In [25]:
df.head() ## we can see at the end there is an additional column forcity-L/100km

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,27,13495.0,11.190476
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,27,16500.0,11.190476
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000.0,19,26,16500.0,12.368421
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500.0,24,30,13950.0,9.791667
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500.0,18,22,17450.0,13.055556

In [26]:
# similarly we can transform mpg to L/100km by mathematical operation (235 divided by mpg)

In [27]:
df['highway-L/100Km']=235/df['highway-mpg']

In [28]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,highway-L/100Km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000.0,21,27,13495.0,11.190476,8.703704
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000.0,21,27,16500.0,11.190476,8.703704
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154,5000.0,19,26,16500.0,12.368421,9.038462
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500.0,24,30,13950.0,9.791667,7.833333
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115,5500.0,18,22,17450.0,13.055556,10.681818

Indicator Variable (or Dummy Variable)

In [29]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price', 'city-L/100km', 'highway-L/100Km'],
      dtype='object')

In [30]:
df_dummies=pd.get_dummies(df['fuel-type'])
df_dummies.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

In [31]:
df=pd.concat([df,df_dummies],axis=1)
df.rename(columns={'fuel-type-diesel':'gas', 'fuel-type-diesel':'diesel'}, inplace=True)
df.drop('fuel-type',axis=1,inplace=True)
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,highway-L/100Km,diesel,gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,9.0,111,5000.0,21,27,13495.0,11.190476,8.703704,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,9.0,111,5000.0,21,27,16500.0,11.190476,8.703704,0,1
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,171.2,...,9.0,154,5000.0,19,26,16500.0,12.368421,9.038462,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,176.6,...,10.0,102,5500.0,24,30,13950.0,9.791667,7.833333,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,176.6,...,8.0,115,5500.0,18,22,17450.0,13.055556,10.681818,0,1

In [32]:
## aspiration columns also have two type std(without turbo charger)
# and with turbo

In [34]:
df_dummies2=pd.get_dummies(df['aspiration'])
df_dummies2.head()

   std  turbo
0    1      0
1    1      0
2    1      0
3    1      0
4    1      0

In [36]:
df=pd.concat([df,df_dummies2],axis=1)
df.drop('aspiration',axis=1,inplace=True)
df.head()

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,highway-L/100Km,diesel,gas,std,turbo
0,3,122,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,5000.0,21,27,13495.0,11.190476,8.703704,0,1,1,0
1,3,122,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,5000.0,21,27,16500.0,11.190476,8.703704,0,1,1,0
2,1,122,alfa-romero,two,hatchback,rwd,front,94.5,171.2,65.5,...,5000.0,19,26,16500.0,12.368421,9.038462,0,1,1,0
3,2,164,audi,four,sedan,fwd,front,99.8,176.6,66.2,...,5500.0,24,30,13950.0,9.791667,7.833333,0,1,1,0
4,2,164,audi,four,sedan,4wd,front,99.4,176.6,66.4,...,5500.0,18,22,17450.0,13.055556,10.681818,0,1,1,0