In [15]:
import numpy as np
import pandas as pd

In [16]:
df=pd.read_excel('room.xlsx') ##  Importing the excel data sheet with pandas

In [17]:
df                ## printing the data frame

   Area  Bedroom  age   Price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [18]:
import math  # Math contains useful tools like mean mode  etc.

In [19]:
## as we can see there is a empty data in bedroom column 
## and in order to progress we need to fill it.

In [20]:
median_Bedroom=math.floor(df.Bedroom.median())##we can use mode as well depending in the dataset

In [21]:
median_Bedroom ## this is themedian of the coloum bedroom and now we need to transfer it the dataframe

3

In [22]:
df.Bedroom=df.Bedroom.fillna(median_Bedroom)##fillna fill the data frame
print(df)

   Area  Bedroom  age   Price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [24]:
from sklearn.linear_model import LinearRegression ## importing  LinearRegression from sklearn

In [40]:
x=df[['Area','Bedroom','age']] ## seprating our x and y , imagine it as question(x) column and answer(y)

In [26]:
x

   Area  Bedroom  age
0  2600      3.0   20
1  3000      4.0   15
2  3200      3.0   18
3  3600      3.0   30
4  4000      5.0    8

In [27]:
y=df.Price

In [28]:
y

0    550000
1    565000
2    610000
3    595000
4    760000
Name: Price, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.3)

In [31]:
model=LinearRegression()

In [33]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
model.coef_

array([   86.25,     0.  , -4125.  ])

In [37]:
model.intercept_

408250.0

In [39]:
model.predict([[2600,3.0,20]])

array([550000.])